/* QM icons -------------------------------------------------- */
.new_model     {background:url(img/new_model.png)     0 4px/16px 16px no-repeat;}
.qp_framework  {background:url(img/qp_framework.png)  0 4px/16px 16px no-repeat;}
.search_folder {background:url(img/search_folder.png) 0 4px/16px 16px no-repeat;}
.codegen       {background:url(img/codegen.png)       0 4px/16px 16px no-repeat;}
.model         {background:url(img/model.png)         0 4px/16px 16px no-repeat;}
.package       {background:url(img/package.png)       0 4px/16px 16px no-repeat;}
.package_evts  {background:url(img/package_evts.png)  0 4px/16px 16px no-repeat;}
.package_comp  {background:url(img/package_comp.png)  0 4px/16px 16px no-repeat;}
.package_diag  {background:url(img/package_diag.png)  0 4px/16px 16px no-repeat;}
.package_frame {background:url(img/package_frame.png) 0 4px/16px 16px no-repeat;}
.package_imp   {background:url(img/package_imp.png)   0 4px/16px 16px no-repeat;}
.directory     {background:url(img/directory.png)     0 4px/16px 16px no-repeat;}
.attr          {background:url(img/attr.png)          0 4px/16px 16px no-repeat;}
.oper          {background:url(img/oper.png)          0 4px/16px 16px no-repeat;}
.class         {background:url(img/class.png)         0 4px/16px 16px no-repeat;}
.class_sm      {background:url(img/class_sm.png)      0 4px/16px 16px no-repeat;}
.class_evt     {background:url(img/class_evt.png)     0 4px/16px 16px no-repeat;}
.class_active  {background:url(img/class_active.png)  0 4px/16px 16px no-repeat;}
.statechart    {background:url(img/statechart.png)    0 4px/16px 16px no-repeat;}
.diagrams      {background:url(img/diagrams.png)      0 4px/16px 16px no-repeat;}
.directory     {background:url(img/directory.png)     0 4px/16px 16px no-repeat;}
.file_source_c {background:url(img/file_source_c.png) 0 4px/16px 16px no-repeat;}
.state         {background:url(img/state.png)         0 4px/16px 16px no-repeat;}
.initial       {background:url(img/initial.png)       0 4px/16px 16px no-repeat;}
.history       {background:url(img/history.png)       0 4px/16px 16px no-repeat;}
.tran          {background:url(img/tran.png)          0 4px/16px 16px no-repeat;}
.choice        {background:url(img/choice.png)        0 4px/16px 16px no-repeat;}
.undo          {background:url(img/undo.png)          0 4px/16px 16px no-repeat;}
.redo          {background:url(img/redo.png)          0 4px/16px 16px no-repeat;}
.cut           {background:url(img/cut.png)           0 4px/16px 16px no-repeat;}
.copy          {background:url(img/copy.png)          0 4px/16px 16px no-repeat;}
.paste         {background:url(img/paste.png)         0 4px/16px 16px no-repeat;}
.lock          {background:url(img/lock.png)          0 4px/16px 16px no-repeat;}
.unlock        {background:url(img/unlock.png)        0 4px/16px 16px no-repeat;}
.move_up       {background:url(img/move_up.png)       0 4px/16px 16px no-repeat;}
.move_down     {background:url(img/move_down.png)     0 4px/16px 16px no-repeat;}
.delete        {background:url(img/delete.png)        0 4px/16px 16px no-repeat;}
.select        {background:url(img/select.png)        0 4px/16px 16px no-repeat;}
.anchor        {background:url(img/anchor.png)        0 4px/16px 16px no-repeat;}
.forbidden     {background:url(img/forbidden.png)     0 4px/16px 16px no-repeat;}
.plus          {background:url(img/plus.png)          0 4px/16px 16px no-repeat;}
.minus         {background:url(img/minus.png)         0 4px/16px 16px no-repeat;}
.file          {background:url(img/file.png)          0 4px/16px 16px no-repeat;}
.file_c        {background:url(img/file_c.png)        0 4px/16px 16px no-repeat;}
.file_cpp      {background:url(img/file_cpp.png)      0 4px/16px 16px no-repeat;}
.file_doc      {background:url(img/file_doc.png)      0 4px/16px 16px no-repeat;}
.file_h        {background:url(img/file_h.png)        0 4px/16px 16px no-repeat;}
.file_ino      {background:url(img/file_ino.png)      0 4px/16px 16px no-repeat;}
.file_mak      {background:url(img/file_mak.png)      0 4px/16px 16px no-repeat;}
.file_pdf      {background:url(img/file_pdf.png)      0 4px/16px 16px no-repeat;}
.file_py       {background:url(img/file_py.png)       0 4px/16px 16px no-repeat;}
.file_qm       {background:url(img/file_qm.png)       0 4px/16px 16px no-repeat;}
.file_qmp      {background:url(img/file_qmp.png)      0 4px/16px 16px no-repeat;}
.file_tcl      {background:url(img/file_tcl.png)      0 4px/16px 16px no-repeat;}
.file_wish     {background:url(img/file_wish.png)     0 4px/16px 16px no-repeat;}
.folder        {background:url(img/folder.png)        0 4px/16px 16px no-repeat;}
.grid          {background:url(img/grid3.png)         0 4px/16px 16px no-repeat;}
.key_up        {background:url(img/key_up.png)        0 4px/16px 16px no-repeat;}
.key_down      {background:url(img/key_down.png)      0 4px/16px 16px no-repeat;}
.key_left      {background:url(img/key_left.png)      0 4px/16px 16px no-repeat;}
.key_right     {background:url(img/key_right.png)     0 4px/16px 16px no-repeat;}
.zoom_in       {background:url(img/zoom_in.png)       0 4px/16px 16px no-repeat;}
.zoom_out      {background:url(img/zoom_out.png)      0 4px/16px 16px no-repeat;}
.zoom_100      {background:url(img/zoom_100.png)      0 4px/16px 16px no-repeat;}
.export_emf    {background:url(img/export_emf.png)    0 4px/16px 16px no-repeat;}
.windows       {background:url(img/windows.png)       0 4px/16px 16px no-repeat;}
.tool_manager  {background:url(img/tool_manager.png)  0 4px/16px 16px no-repeat;}
.search_computer {background:url(img/search_computer.png) 0 4px/16px 16px no-repeat;}
.search_folder {background:url(img/search_folder.png) 0 4px/16px 16px no-repeat;}
.arrow_right   {background:url(img/arrow_right.png)   0 4px/16px 16px no-repeat;}
.expand        {background:url(img/expand.png)        0 4px/16px 16px no-repeat;}
.collapse      {background:url(img/collapse.png)      0 4px/16px 16px no-repeat;}
.license_gpl   {background:url(img/license_gpl.png)   0 4px/16px 16px no-repeat;}
.tool0         {background:url(img/tool0.png)         0 4px/16px 16px no-repeat;}
.tool1         {background:url(img/tool1.png)         0 4px/16px 16px no-repeat;}
.tool2         {background:url(img/tool2.png)         0 4px/16px 16px no-repeat;}
.tool3         {background:url(img/tool3.png)         0 4px/16px 16px no-repeat;}
.tool4         {background:url(img/tool4.png)         0 4px/16px 16px no-repeat;}
.tool5         {background:url(img/tool5.png)         0 4px/16px 16px no-repeat;}
.tool_kill     {background:url(img/tool_kill.png)     0 4px/16px 16px no-repeat;}
.tool_manager  {background:url(img/tool_manager.png)  0 4px/16px 16px no-repeat;}
.paste_link    {background:url(img/paste_link.png)    0 4px/16px 16px no-repeat;}
.tran_internal {background:url(img/tran_internal.gif) 0 4px/16px 16px no-repeat;}
.tran_state    {background:url(img/tran_state.gif)    0 4px/16px 16px no-repeat;}
.tran_choice   {background:url(img/tran_choice.gif)   0 4px/16px 16px no-repeat;}

.cur_end       {background:url(img/cur_end.png)       0 4px/16px 16px no-repeat;}
.cur_enda      {background:url(img/cur_enda.png)      0 4px/16px 16px no-repeat;}
.cur_endx      {background:url(img/cur_endx.png)      0 4px/16px 16px no-repeat;}
.cur_grab      {background:url(img/cur_grab.png)      0 4px/16px 16px no-repeat;}
.cur_hor       {background:url(img/cur_hor.png)       0 4px/16px 16px no-repeat;}
.cur_initial1  {background:url(img/cur_initial1.png)  0 4px/16px 16px no-repeat;}
.cur_initial1a {background:url(img/cur_initial1a.png) 0 4px/16px 16px no-repeat;}
.cur_initial1x {background:url(img/cur_initial1x.png) 0 4px/16px 16px no-repeat;}
.cur_pan       {background:url(img/cur_pan.png)       0 4px/16px 16px no-repeat;}
.cur_select    {background:url(img/cur_select.png)    0 4px/16px 16px no-repeat;}
.cur_select0   {background:url(img/cur_select0.png)   0 4px/16px 16px no-repeat;}
.cur_select1   {background:url(img/cur_select1.png)   0 4px/16px 16px no-repeat;}
.cur_state1    {background:url(img/cur_state1.png)    0 4px/16px 16px no-repeat;}
.cur_text_move {background:url(img/cur_text_move.png) 0 4px/16px 16px no-repeat;}
.cur_tran1     {background:url(img/cur_tran1.png)     0 4px/16px 16px no-repeat;}
.cur_tran1a    {background:url(img/cur_tran1a.png)    0 4px/16px 16px no-repeat;}
.cur_tran1x    {background:url(img/cur_tran1x.png)    0 4px/16px 16px no-repeat;}
.cur_ver       {background:url(img/cur_ver.png)       0 4px/16px 16px no-repeat;}

.submachine    {background:url(img/submachine.png)    0 4px/16px 16px no-repeat;}
.ep_seg        {background:url(img/ep_seg.png)        0 4px/16px 16px no-repeat;}
.xp            {background:url(img/xp.png)            0 4px/16px 16px no-repeat;}
.sm_state      {background:url(img/sm_state.png)      0 4px/16px 16px no-repeat;}
.xp_seg        {background:url(img/xp_seg.png)        0 4px/16px 16px no-repeat;}




